body {
	margin: 0;
	text-align: center;
	font-family: 'Noto Sans CJK KR', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.main-card button {
	position: relative;
	left: -45px;
	bottom: 15px;
}

.favorites {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 100;
	src: url('assets/fonts/NotoSansKR-Light.woff2') format('woff2'),
		url('assets/fonts/NotoSansKR-Light.woff') format('woff'),
		url('assets/fonts/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: normal;
	src: url('assets/fonts/NotoSansKR-Regular.woff2') format('woff2'),
		url('assets/fonts/NotoSansKR-Regular.woff') format('woff'),
		url('assets/fonts/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 500;
	src: url('assets/fonts/NotoSansKR-Medium.woff2') format('woff2'),
		url('assets/fonts/NotoSansKR-Medium.woff') format('woff'),
		url('assets/fonts/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: bold;
	src: url('assets/fonts/NotoSansKR-Bold.woff2') format('woff2'),
		url('assets/fonts/NotoSansKR-Bold.woff') format('woff'),
		url('assets/fonts/NotoSansKR-Bold.otf') format('truetype');
}
